/** DM Sans */
@font-face {
    font-family: "DM sans";
    font-weight: normal;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Regular.woff") format("woff"),
        url("/font/DMSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans";
    font-weight: 500;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Medium.woff") format("woff"),
        url("/font/DMSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans";
    font-weight: bold;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Bold.woff") format("woff"),
        url("/font/DMSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans Regular";
    font-weight: normal;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Regular.woff") format("woff"),
        url("/font/DMSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans Medium";
    font-weight: normal;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Medium.woff") format("woff"),
        url("/font/DMSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans Bold";
    font-weight: normal;
    font-style: normal;
    src: local("DM Sans");
    src: url("/font/DMSans-Bold.woff") format("woff"),
        url("/font/DMSans-Bold.woff2") format("woff2");
}

/** DM Sans Italic */
@font-face {
    font-family: "DM sans";
    font-weight: "normal";
    font-style: italic;
    src: local("DM Sans");
    src: url("/font/DMSans-Italic.woff") format("woff"),
        url("/font/DMSans-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans";
    font-weight: 500;
    font-style: italic;
    src: local("DM Sans");
    src: url("/font/DMSans-MediumItalic.woff") format("woff"),
        url("/font/DMSans-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "DM sans";
    font-weight: bold;
    font-style: italic;
    src: local("DM Sans");
    src: url("/font/DMSans-BoldItalic.woff") format("woff"),
        url("/font/DMSans-BoldItalic.woff2") format("woff2");
}




.font-dm-sans-regular {
    font-family: "DM sans Regular", sans-serif;
}

.font-dm-sans-medium {
    font-family: "DM sans Medium", sans-serif;
}

.font-dm-sans-bold {
    font-family: "DM sans bold", sans-serif;
}