@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.css';
@import './home.css';
@import './icon.css';

@layer base {
    html,
    body {
        @apply antialiased;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
}

#__next::before {
    content: '';
    display: block;
    clear: both;
}

.fp-watermark {
    display: none;
}
