@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.css';
@import './home.css';
@import './icon.css';

@layer base {
    html,
    body {
        @apply antialiased;
    }
}

html,
body,
#__next {
    width: 100%;
    height: 100%;
}

#__next {
    overflow: auto;
}

.fp-watermark {
    display: none;
}
